#celsius {
    width: 176px;
}

#header {
    text-align: center;
    border: solid black 3px;
    margin-bottom: 30px;
}

.div_ex {
    text-align: center;
    border: solid black 3px;
    border-radius: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

#celcius {
    padding: 10px;
    font-size: 16px;
    width: 250px;
}

.quente {
    background-color: red;
}

.frio {
    background-color: aqua;
}

#titulo_ex2 {
    text-align: center;
}

#inp_cor {
    margin-bottom: 25px;
}

#card {
    border: solid black 3px;
    width: 500px;
    padding-left: 400px;
}