#celsius {
    width: 176px;
}

#header {
    text-align: center;
    border: solid black 3px;
    margin-bottom: 30px;
}

#div_ex1 {
    text-align: center;
    border: solid black 3px;
    border-radius: 30px;
}

#celcius {
    padding: 10px;
    font-size: 16px;
    width: 250px;
}

.quente {
    background-color: red;
}

.frio {
    background-color: aqua;
}

