#header {
    text-align: center;
    border: solid black 3px;
    margin-bottom: 30px;
    box-shadow:
        0 4px 6px rgba(0, 0, 0, 0.4),
        0 10px 20px rgba(0, 0, 0, 0.3),
        0 20px 40px rgba(0, 0, 0, 0.2);
}

#div_ex1 {
    text-align: center;
    border: solid black 3px;
    border-radius: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

#div_ex2 {
    text-align: center;
    border: solid black 3px;
    border-radius: 30px;
    margin-bottom: 30px;
    padding-bottom: 20px;
}

#celsius {
    padding: 10px;
    font-size: 16px;
    width: 209px;
}

.quente {
    background-color: red;
}

.frio {
    background-color: aqua;
}

#titulo_ex2 {
    text-align: center;
}

#inp_cor {
    margin-bottom: 25px;
}

#card {
    border: solid black 3px;
    width: 500px;
    height: 150px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* vertical */
    align-items: center;
    /* horizontal */

    margin: 0 auto;
    /* centraliza o card na página */
    margin-top: 20px;
}

#inp_nome {
    padding: 10px;
    font-size: 16px;
    width: 209px;
}

#inp_cargo {
    padding: 10px;
    font-size: 16px;
    width: 209px;
}

#inp_color {
    justify-self: center;
    display: flex;
    height: 42px;
    width: 80px;
    margin-left: 560px;
    margin-top: -43px;
}