body {
    display: flex;
    justify-content: center; /** Horizontal */
    align-items: center; /** Vertical */
    height: 100vh; /** Altura total da tela, se necessário */
}

.nome1 {
    height: 600px;
    width: 800px;
    background-color: aquamarine;
    display: flex;
    align-items: center; /** Alinha Vertical */
    flex-direction: column; /** Distribui os itens em coluna ou linha */
    justify-content: center; /** Alinha Horizontal */
}

.nome2 {
    height: 180px;
    width: 700px;
    background-color: burlywood;
    border: solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.nome3 {
    height: 180px;
    width: 700px;
    background-color: chartreuse;
    border: solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.nome4 {
    height: 180px;
    width: 700px;
    background-color: cadetblue;
    border: solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.nome5 {
    height: 80px;
    width: 90px;
    background-color: coral;
    border: solid black;
}